
   
    <!--mobile navigation bar start-->
    <header class="">
      <div class="nav_bar">
        
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items d-solid" style="display:solid!importante;">
      
         <a (click)="market()" href="#collapseExample" class="{{mark}} " data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-file-pdf" ></i><span>Reportes</span></a>
        <div class="collapse" id="collapseExample" class="{{mark}}" title="Reportes">
          <a href="/rpt-1"placement="right" ngbTooltip="Reporte A" title="Reporte A" class="ml-2"><i class="fas fa-file-pdf"></i><span>Reporte A</span></a>
          <a href="/rpt-2" placement="right" ngbTooltip="Reporte B" title="Reporte B" class="ml-2"><i class="fas fa-file-pdf"></i><span>Reporte B</span></a>
          <a href="/rpt-3" placement="right" ngbTooltip="Reporte B" title="Reporte C" class="ml-2"><i class="fas fa-file-pdf"></i><span>Reporte C</span></a>
          <a href="/rpt-4" placement="right" ngbTooltip="Reporte B" title="Reporte D" class="ml-2"><i class="fas fa-file-pdf"></i><span>Reporte D</span></a>
          <a href="#" placement="right" ngbTooltip="Reporte B" title="Reporte F" class="ml-2"><i class="fas fa-file-pdf"></i><span>Reporte F</span></a>
          <a href="#" placement="right" ngbTooltip="Reporte B" title="Reporte G" class="ml-2"><i class="fas fa-file-pdf"></i><span>Reporte G</span></a>
        </div>
       
        <a href="/dashboard"><i class="fas fa-info-circle"></i><span>Volver</span></a>
      </div>
    </header>
    <!--mobile navigation bar end-->