
    <!--header area start-->
    <header class="">
      <label for="check" >
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area justify-content-center left_margin">
        <h3>Ing <span>System</span></h3>
      </div>
      <div class="right_area justify-content-center">
        <a href="#" class="logout_btn">Cerrar Sesión</a>
      </div>
    </header>
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <img src="1.png" class="mobile_profile_image" alt="">
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
        <a href="#"><i class="fas fa-desktop"></i><span>Inicio</span></a>
        <a href="#"><i class="fas fa-cogs"></i><span>Boletas</span></a>
        <a href="#"><i class="fas fa-table"></i><span>Reportes</span></a>
        <a href="#"><i class="fas fa-th"></i><span>Otros</span></a>
        <a href="#"><i class="fas fa-info-circle"></i><span>Cubo</span></a>
      </div>
    </div>
    <!--mobile navigation bar end-->