<!--sidebar start-->

      <div class="profile_info">
        <img src="1.png" class="profile_image" alt="">
        <h4>Justin</h4>
      </div>
      <a href="#"><i class="fas fa-desktop"></i><span>Inicio</span></a>
        <a href="/listado_por_empleado"><i class="fas fa-clipboard-list"></i><span>Boletas</span></a>

        <a href="#collapse" (click)="marketOthersMethod()" class="{{marketOthers}}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse"><i class="fas fa-th"></i><span>Otros</span></a>
        <div class="collapse" id="collapse" class="{{marketOthers}}" title="Reportes">
          <a href="/sexo"placement="right" ngbTooltip="Reporte A" title="Reporte A"><i class="fas fa-file-pdf"></i><span>Sexos</span></a>
          <a href="/departamento" placement="right" ngbTooltip="Reporte B" title="Reporte B"><i class="fas fa-file-pdf"></i><span>Departamentos</span></a>
          <a href="/clasificador" placement="right" ngbTooltip="Reporte B" title="Reporte B"><i class="fas fa-file-pdf"></i><span>Clasificador</span></a>
          <a href="/respuesta_legal" placement="right" ngbTooltip="Reporte B" title="Reporte B"><i class="fas fa-file-pdf"></i><span>Respuesta legales</span></a>

        </div>


    <!--sidebar end-->
